* {
  /* reset browser CSS defaults */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* reset root font-size to 10px */
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

/* Grid implementation */

.row {
  max-width: 114rem;
  margin: 0 auto;
}

/* .row:not(:last-child) {
  margin-bottom: 8rem;
} */

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.main-container {
  position: relative;
  margin: auto;
  width: 1024px;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 7rem;
}

.main-header {
  padding: 1rem;
}

.ou-logo,
.main-heading {
  float: left;
}

.ou-logo {
  padding-left: 0.5rem;
}

.sign-out,
.sign-out:active,
.sign-out:visited {
  float: right;
  text-decoration: none;
  color: #333;
  margin-right: 0.5rem;
}

.mobile-menu {
  display: none;
}

.sign-out:hover {
  border-bottom: 1px solid #333;
}

.navbar {
  background-color: lightgrey;
  padding: 1rem 0;
}

.navbar li {
  display: inline;
  margin: 0 1.5rem;
  height: 1.7rem;
}

.navbar li a,
.navbar li a:active,
.navbar li a:visited {
  text-decoration: none;
  color: #333;
  padding-bottom: 1rem;
}

.navbar-active {
  border-bottom: 4px solid #333;
}

.breadcrumbs {
  padding: 1rem 0;
}

.breadcrumbs a,
.breadcrumbs a:active,
.breadcrumbs a:visited {
  text-decoration: none;
  color: #333333;
  margin: 0 1.5rem;
  padding-bottom: 0.5rem;
}

.breadcrumbs a:hover {
  border-bottom: 1px solid #333;
}

.overview-heading {
  padding: 0.5rem 1.5rem;
}

.overview-text {
  padding: 0.5rem 1.5rem;
}

.add-event {
  width: 60%;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  border: 1px solid lightgrey;
}

.add-event-sub-heading {
  padding: 0 0 1rem 0.8rem;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 0.8rem;
}

.flex-inner {
  padding: 0 3rem 1rem 3rem;
  justify-content: space-between;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 15rem;
}

.flex-outer li input,
.flex-outer li textarea {
  padding: 0.6rem;
  width: 42rem;
  height: 3.6rem;
}

.flex-inner li input[type="radio"] {
  padding: 0.6rem;
  height: 1.5rem;
}

.flex-inner li label {
  padding: 0.5rem 0;
  width: 10rem;
  text-align: center;
}

#notes {
  height: 7rem;
  font-size: 1.6rem;
}

.flex-outer li input[type="date"],
.flex-outer li input[type="time"],
.flex-outer li input[type="number"] {
  width: 15rem;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  border-radius: 2px;
}

.flex-inner li {
  width: 10rem;
}

.radio-fieldset {
  width: 100%;
  border: 0;
  border: 1px solid #767676;
  margin-bottom: 1rem;
}

.fieldset-legend {
  padding: 0 0.5rem;
}

.button {
  font-size: 1.6rem;
}

.site-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 5rem;
  /* padding-bottom: 2.5rem; */
  background-color: lightgrey;
}

.footer-text {
  padding: 1rem;
}

@media all and (max-width: 375px) {
  html {
    font-size: 20px;
  }

  .main-container {
    padding: 0;
    /* display: flex; */
    /* width: 100%; */
  }

  .main-header {
    padding: 0;
    border-bottom: 1px solid #333;
  }

  .ou-logo {
    transform: scale(1.7);
    padding: 2.5rem 0 2rem 2.5rem;
  }

  .main-heading {
    font-size: 2.7rem;
    padding-top: 2rem;
  }

  .sign-out {
    display: none;
  }

  .mobile-menu {
    display: block;
    float: right;
    text-decoration: none;
    color: #333;
    margin: 2.1rem 3rem 0 0;
    padding: 0.5rem 2rem;
    border: 1px solid #333;
    border-radius: 5px;
  }

  .navbar {
    display: none;
  }

  .breadcrumbs {
    display: none;
  }

  .page-overview {
    padding: 2rem;
  }

  .overview-text {
    font-size: 1.8rem;
  }

  .add-event {
    width: 95%;
    margin: auto;
    margin-top: 3rem;
    padding: 3rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: rgb(233, 233, 233);
  }

  .add-event-sub-heading {
    padding: 0 0 1rem 0;
  }

  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    padding-left: 0;
  }

  .flex-outer li input,
  .flex-outer li textarea {
    padding: 0.6rem;
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
  }

  .flex-outer li input[type="date"],
  .flex-outer li input[type="time"],
  .flex-outer li input[type="number"] {
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
  }

  #notes {
    height: 10rem;
  }

  .button {
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
  }
}
